@font-face {
    font-family: Villa_ExtraBold;
    src: url(Fonts/ExtraBold.woff2);
}
@font-face{
    font-family: Villa_Bold;
    src: url(Fonts/Bold.woff2);
}
@font-face {
    font-family: Villa_Regular;
    src: url(Fonts/Regular.woff2);
}
@font-face {
    font-family: Villa_Thin;
    src: url(Fonts/Thin.woff2);
}
